@font-face {
    font-family: 'Pixelon';
    src: url('/src/assets/fonts/pixelon.ttf') format('truetype');
}

body {
    font-family: 'Pixelon', sans-serif;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}