@keyframes rotate90 {
    0% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.rotate-animation {
    animation: rotate90 2s ease-in-out infinite;
}